.container:hover {
  animation: vibrate 1500ms linear infinite;
  z-index: 5;
}

@keyframes vibrate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-2deg);
  }
}

.content {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-break: break-all;
}
